html{background:$black;}
/* add special case for large media - portrait */
/*html{background:$selectedTab;}*/

.top-line{
	background:$topLine;
	height:7px;
}
.top-background{
	background:$upperBackground;
}
.top-background-width{
	width:100%;
	background:$upperBackground;
}

.logo{
	padding-top:5px;
	display:block;
	margin:0 auto;
}

.centered-text{text-align:center;}
.panel.radius{border-radius:5px;}

h1{
	display:none;
}

h2.tagline{
	color:$tagLine;
	font-size: ms(2);
	margin-top:0px;
	font-family:"Magneta Condensed Bold", Georgia, 'Times New Roman', serif; font-size-adjust:.48; font-weight:bold; font-style:normal;
}

h3{
	color:$tabHeading;
	font-family:"Magneta Condensed Bold", Georgia, 'Times New Roman', serif; font-size-adjust:.48; font-weight:bold; font-style:normal;
}

/* begin: launchrock */
#signupform-W92D76QR{
	text-align:center;
}

#instructions-W92D76QR{
	font-family:"Magneta Condensed Bold", Georgia, 'Times New Roman', serif; font-size-adjust:.65; font-weight:bold; font-style:normal;			  
	/*color:$tagLine;*/
	color:$lightGreen;
	display:inline;
	text-shadow: 1px 2px 1px #000;

}

@media only screen and (max-width: $screenSmall - 1) {   
	#instructions-W92D76QR{
	display:block;
	}	
} 

#email-W92D76QR{
	float:none;
	margin:0 10px;
	padding:0px 11px;
	height:40px;
}

.lrdiscoverwidget{
	 .inviteform{
		margin:0;
		
		.field{
			margin:0 4px 0 25px;
		}
	}
	.site{width:100%;}
}

#dlrpagesubmit-W92D76QR{
	 .share-via-email{
		background-color:$selectedTab;

		label{
			color:$red;
		}
		.field-holder .field{
			color:#fff;
		}
	}
	.share-link {
		label{
			color:$white;
		}
		.field-holder{
			background-color:$selectedTab;
		
			.field{
				color:$txtColor;
			}
		}
	}
	.like{
		margin:0 auto;
	}
}

#facebookLink-W92D76QR{
	font-weight:bold;
	color:$blue;
}
/* end: launchrock */

.tabs-wrapper{
	max-width:1160px;
	text-align: center;
	margin:0 auto;
	/*border:1px solid blue;*/
}

dl.tabs-centered dd:first-child{margin-left:10.5%;}

@media only screen and (max-width: $screenSmall - 1) {    
	.tabs-centered span{display:none;}
}

dl.tabs {
	margin-bottom:0;
	border-bottom:1px solid $tabLine;

	dd{
		width:25%;-webkit-border-radius: 4px;
		border-radius: 6px 6px 0 0;

		a{
			text-align:center;
			background:$tabLine;
			color: $white;
			font-family:"Magneta Condensed Bold", Georgia, 'Times New Roman', serif; font-size-adjust:.48; font-weight:bold; font-style:normal;
			-webkit-border-radius: 6px 6px 0 0;
			border-radius: 6px 6px 0 0;
		}
		a:hover{
			color:$selectedTab;
		}

	}
	dd.spacer{
		margin-left:1%;
		margin-right:1%;
	}
	dd.active{
		border-top:3px solid $tabLine;
		a{
			color:$txtColor;
			background:$selectedTab;
			border-color:$tabLine;
		}
	}
}




.tabbed{
	background:$selectedTab;
	color:$tabText;
	ol, ul{
		list-style-position: outside; 
	}
	ol{
		margin-bottom:15px;
		margin-left:40px;
	}
	.panel{
		color: $lighterTxtColor;
		h3{
			color:$titleDark;
		}
	}

}

#how-it-worksTab .panel{
	padding:10%;
}

/*
@media only screen and (min-width: 960px) {  
	.tabs-content .twelve{
		width:960px;
	}
}*/

@media only screen and (max-width: 320px) {  
	dl.tabs dd a{
		padding-left:10px;
	}
}


ul.tabs-content{
	margin:0;

	.tabbed{
		padding-top:50px;
	}
}

.video-laptop{
	float:right;
	padding-bottom:5px;
}

.copyright{
	margin-bottom:0;
	padding:4% 0 4% 0;
	font-size-adjust:.45;
	color:#888;
}

#our-coachesTab{
 	.panel img{
		margin:0 auto;
		display:block;
		margin-bottom:15px;
	}
	[class*="column"] + [class*="column"]:last-child{
		float:left;
	}
	h3{
		font-size-adjust:0.35;
		color: $blue;
		margin-bottom:0;
	}
}

#aboutTab .panel{
	padding: 10%;
}

@media only screen and (min-width: $screenSmall) { 
	#our-coachesTab .panel{
		min-height:375px;
	}
}



