html{background:$black;}
/* add special case for large media - portrait */
/*html{background:$selectedTab;}*/

.top-line{
	background:$topLine;
	height:7px;
}
.top-background{
	background:$upperBackground;
}
.top-background-width{
	width:100%;
	background:$upperBackground;

}

.logo{
	padding-top:5px;
	display:block;
	margin:0 auto;
}

dl.tabs-centered dd:first-child{margin-left:10.5%;}

.centered-text{text-align:center;}

dl.tabs dd{width:25%;-webkit-border-radius: 4px;
border-radius: 6px 6px 0 0;}
dl.tabs dd a{
	text-align:center;
}

h1{
	display:none;
}

h2.tagline{
	color:$tagLine;
	font-size: ms(2);
	margin-top:0px;
	font-family:"Magneta Condensed Bold", Georgia, 'Times New Roman', serif; font-size-adjust:.48; font-weight:bold; font-style:normal;
}

h3{
	color:$tabHeading;
	font-family:"Magneta Condensed Bold", Georgia, 'Times New Roman', serif; font-size-adjust:.48; font-weight:bold; font-style:normal;
}

/* launchrock */
#signupform-W92D76QR{
	text-align:center;
}
#instructions-W92D76QR{
	font-family:"Magneta Condensed Bold", Georgia, 'Times New Roman', serif; font-size-adjust:.65; font-weight:bold; font-style:normal;			  
	/*color:$tagLine;*/
	color:$lightGreen;
	display:inline;
	text-shadow: 1px 2px 1px #000;
	height:40px;
}
#email-W92D76QR{
	float:none;
	margin:0 10px;
	padding:0px 11px
}

@media only screen and (max-width: $screenSmall - 1) {   
	#instructions-W92D76QR{
	display:block;
	}	
} 

.lrdiscoverwidget .inviteform{margin:0;}
.lrdiscoverwidget .inviteform .field{margin:0 4px 0 25px;}
.lrdiscoverwidget .site{width:100%;}

#dlrpagesubmit-W92D76QR .share-via-email{
	background-color:$selectedTab;

	label{
		color:$red;
	}
	.field-holder .field{
		color:#fff;
	}
}

#dlrpagesubmit-W92D76QR .share-link {
	label{
		color:$white;
	}
	.field-holder{
		background-color:$selectedTab;
	
		.field{
			color:$txtColor;
		}
	}
}

#dlrpagesubmit-W92D76QR .like{
	margin:0 auto;
}

#facebookLink-W92D76QR{
	font-weight:bold;
	color:$blue;
}

@media only screen and (max-width: $screenSmall - 1) {    
	.tabs-centered span{display:none;}
}
dl.tabs {
	margin-bottom:0;
	border-bottom:1px solid $tabLine;
	}
dl.tabs dd a{
	background:$tabLine;
	color: $white;
	font-family:"Magneta Condensed Bold", Georgia, 'Times New Roman', serif; font-size-adjust:.48; font-weight:bold; font-style:normal;
	-webkit-border-radius: 6px 6px 0 0;
	border-radius: 6px 6px 0 0;
}
dl.tabs dd a:hover{
	color:$selectedTab;
}

dl.tabs dd.spacer{
	margin-left:1%;
	margin-right:1%;
}
.tabbed{
	background:$selectedTab;
	color:$tabText;
	ol, ul{
		list-style-position: outside; 
	}
}

.tabbed ol{
	margin-bottom:15px;
}


.tabbed .panel{
	color: $lighterTxtColor;
	h3{
		color:$titleDark;
	}
}

dl.tabs dd.active{
	border-top:3px solid $tabLine;
	a{
		color:$txtColor;
		background:$selectedTab;
		border-color:$tabLine;
	}
}
/*
@media only screen and (min-width: 960px) {  
	.tabs-content .twelve{
		width:960px;
	}
}*/
@media only screen and (max-width: 320px) {  
	dl.tabs dd a{
		padding-left:10px;
	}
}


ul.tabs-content{
	margin:0;
}
ul.tabs-content .tabbed{
	padding-top:50px;
}

.video-laptop{float:right;
padding-bottom:5px;}

.copyright{
	margin-bottom:0;
	padding:4% 0 4% 0;
	
}

#our-coachesTab .panel img{
	margin:0 auto;
	display:block;
	margin-bottom:15px;
}
/*
#our-coachesTab .panel{
	min-height:400px;
}

.orbit-wrapper {
  .slider-nav span { @include opacity(0); @include single-transition(opacity, 400ms); }
  &:hover .slider-nav span { @include opacity(1); }
}
div.orbit-wrapper div.slider-nav span.left, div.orbit-wrapper div.slider-nav span.right{display:none;}
*/

